{{define "component/themeSwitchTemplate"}}
<template>
  <a-menu :theme="themeSwitcher.currentTheme" mode="inline" selected-keys="">
    <a-sub-menu>
      <span slot="title">
        <a-icon type="bulb" :theme="themeSwitcher.isDarkTheme ? 'filled' : 'outlined'"></a-icon>
        <span>{{ i18n "menu.theme" }}</span>
      </span>
      <a-menu-item key="standard" class="ant-menu-theme-switch"
        @click="themeSwitcher.selectTheme('standard')">
        <span style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:8px;background:#1890ff;"></span>
        <span>{{ i18n "menu.themeLight" }}</span>
        <a-icon v-if="themeSwitcher.currentThemeKey === 'standard'" type="check" style="float:right;color:#52c41a;"></a-icon>
      </a-menu-item>
      <a-menu-item key="colorful" class="ant-menu-theme-switch"
        @click="themeSwitcher.selectTheme('colorful')">
        <span style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:8px;background:#ff4d4f;"></span>
        <span>{{ i18n "menu.themeDark" }}</span>
        <a-icon v-if="themeSwitcher.currentThemeKey === 'colorful'" type="check" style="float:right;color:#52c41a;"></a-icon>
      </a-menu-item>
    </a-sub-menu>
  </a-menu>
</template>
{{end}}

{{define "component/themeSwitchTemplateLogin"}}
<template>
  <a-space @mousedown="themeSwitcher.animationsOff()" id="change-theme" direction="vertical" :size="10" :style="{ width: '100%' }">
    <a-radio-group :value="themeSwitcher.currentThemeKey" @change="(e) => themeSwitcher.selectTheme(e.target.value)" button-style="solid" size="small" style="width:100%;">
      <a-radio-button key="standard" :value="'standard'" :style="{ borderColor: '#1890ff', color: '#1890ff' }">
        {{ i18n "menu.themeLight" }}
      </a-radio-button>
      <a-radio-button key="colorful" :value="'colorful'" :style="{ borderColor: '#ff4d4f', color: '#ff4d4f' }">
        {{ i18n "menu.themeDark" }}
      </a-radio-button>
    </a-radio-group>
  </a-space>
</template>
{{end}}

{{define "component/aThemeSwitch"}}
<script>
  // Set global Vue delimiters to [[ ]] for all components
  Vue.config.delimiters = ['[[', ']]'];

  function createThemeSwitcher() {
    const savedTheme = localStorage.getItem('theme-name') || 'standard';
    
    function applyTheme(themeKey) {
      const isDark = themeKey !== 'standard';
      document.querySelector('body').setAttribute('class', isDark ? 'dark' : 'light');
      if (themeKey === 'standard') {
        document.documentElement.removeAttribute('data-theme');
      } else {
        document.documentElement.setAttribute('data-theme', themeKey);
      }
      document.documentElement.setAttribute('data-theme-name', themeKey);
    }
    
    // Apply saved theme on load
    applyTheme(savedTheme);
    
    return {
      currentThemeKey: savedTheme,
      get isDarkTheme() {
        return this.currentThemeKey !== 'standard';
      },
      get isUltra() {
        return this.currentThemeKey !== 'standard';
      },
      get currentTheme() {
        return this.isDarkTheme ? 'dark' : 'light';
      },
      animationsOff() {
        document.documentElement.setAttribute('data-theme-animations', 'off');
        const themeAnimations = document.querySelector('#change-theme');
        if (themeAnimations) {
          themeAnimations.addEventListener('mouseleave', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
          themeAnimations.addEventListener('touchend', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
        }
      },
      animationsOffUltra() {
        document.documentElement.setAttribute('data-theme-animations', 'off');
        const el = document.querySelector('#change-theme-ultra');
        if (el) {
          el.addEventListener('mouseleave', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
          el.addEventListener('touchend', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
        }
      },
      selectTheme(themeKey) {
        this.currentThemeKey = themeKey;
        localStorage.setItem('theme-name', themeKey);
        applyTheme(themeKey);
        document.getElementById('message').className = this.currentTheme;
      },
      toggleTheme() {
        this.selectTheme(this.currentThemeKey === 'standard' ? 'colorful' : 'standard');
      },
      toggleUltra() {
        if (this.currentThemeKey === 'standard') {
          this.selectTheme('colorful');
        } else {
          this.selectTheme('standard');
        }
      }
    };
  }
  const themeSwitcher = createThemeSwitcher();
  Vue.component('a-theme-switch', {
    template: `{{template "component/themeSwitchTemplate"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      document.getElementById('message').className = themeSwitcher.currentTheme;
    }
  });
  Vue.component('a-theme-switch-login', {
    template: `{{template "component/themeSwitchTemplateLogin"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      document.getElementById('message').className = themeSwitcher.currentTheme;
    }
  });
</script>
{{end}}
